.users_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid #48edce;
    border-radius: 30px;
    width: 300px;
    margin: 10px;
    box-shadow: -10px 15px 10px #a0e2d6;
}
.users_card:hover{
    transform: scale(1.1);
    transition: 0.5s;
}